:root {
    --white-color: #fff;
    --orange-color: #ecb13a;
    --headline-color: #191e3066;
    --little-headline-color: #191e30;
    --box-color: #fdfdfd;
    --box-shadow-color: #191e301a;
    --benefits-color: #008768;
}

* {
    /* select box elements inside the same value */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asap';
}

.content-max-width {
    max-width: min(1240px, 100vw);
    margin: 0 auto;
}

header {
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: center;
}

header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 20px;
    /* position: fixed; */
}

header .navigation .navigation-menu {
    list-style: none;
    display: flex;
}

header .navigation .navigation-menu li a {
    color: var(--white-color);
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

}

header .navigation .navigation-menu li a:hover {
    color: var(--orange-color);
}

main .content-max-width {
    grid-area: main;
    padding-top: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

main section.courses-section {
    position: relative;
    margin: 0px;
    width: 100%;
    min-height: 470px;
    display: flex;
    align-items: center;
    padding: 96px 0px;
}

main section .course-container {
    background-image: url(https://www.itschool.ro/_next/static/media/background.789562e5.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: -76px;
    left: -20px;
    bottom: 0px;
    width: 100vw;

}

main section .courses-text {
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section .courses-text h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.21;
    text-align: center;
    color: var(--white-color);
    margin: 0px;
}

main .corporate-section {
    display: flex;
    padding: 96px 0px;
    flex-direction: column;
}

main section div.headline {
    display: flex;
    max-width: 780px;
    margin: auto;
    align-items: center;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding-bottom: 34px;
}

main section div.headline p.top-part {
    color: var(--headline-color);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: break-word;
    text-align: center;
}

main section div.headline h2 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.22;
    text-align: center;
    color: var(--little-headline-color);

}

main section div.headline p.bottom-part {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-wrap: wrap;
    text-align: center;
    color: var(--little-headline-color);
}

main .corporate-section .types-of-training {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main .corporate-section .types-of-training .training {
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex: 1 1 0%;
    border-radius: 16px;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow-color) 0px 20px 40px 0px;
}

main .corporate-section .types-of-training .training .first-element-in-box {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: break-word;
    color: var(--headline-color);
    padding-bottom: 16px;

}

main .corporate-section .types-of-training .training h2.headline-second {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.22;
    color: var(--little-headline-color);
    margin: 0px;
    padding-bottom: 24px;
}

main .corporate-section .types-of-training .training .long-description {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow-wrap: break-word;
    color: var(--little-headline-color);
    padding-bottom: 24px;
}

main .corporate-section .types-of-training .standard-training .special-content .italic-content {
   padding-bottom: 24px;
}

main .corporate-section .types-of-training .custom-training {
    /* se repeta codul trebuie o clasa comuna pentru cele 2 */
    padding-bottom: 48px;

}

main .corporate-section .types-of-training .training .benefits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
}

main .corporate-section .types-of-training .training .benefits-list .benefits-list-items {
    display: flex;
    justify-content: center;
    color: var(--benefits-color);
    cursor: default;
    gap: 8px;
    align-items: center;
}